version: "3.9"

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-app
    env_file: .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${APP_PORT}:8000"
    volumes:
      - ./backend:/code
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
